<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.amaderhub.ifelsecondition">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Problem21" />
        <activity android:name=".Problem20" />
        <activity android:name=".Problem19" />
        <activity android:name=".Problem18" />
        <activity android:name=".Problem17" />
        <activity android:name=".Problem16" />
        <activity android:name=".Problem15" />
        <activity android:name=".Problem14" />
        <activity android:name=".Problem13" />
        <activity android:name=".Problem12" />
        <activity android:name=".Problem11" />
        <activity android:name=".Problem10" />
        <activity android:name=".Problem9" />
        <activity android:name=".Problem8" />
        <activity android:name=".Problem7" />
        <activity android:name=".Problem6" />
        <activity android:name=".Problem5" />
        <activity android:name=".Problem4" />
        <activity android:name=".Problem3" />
        <activity android:name=".Problem2" />
        <activity android:name=".Problem1" />



    </application>

</manifest>